*,
*::before,
*::after {
  box-sizing: border-box;
}
img{
    display: block
}
body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
.header {
    border-bottom: 1px solid #e7e9fc
}



.container-hader{
    display: flex;
    align-items: center;
}

.nav {
    gap:40px;
    display: flex;
    align-items: center;
}
.adress-nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navigator{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
a{
    text-decoration: none;
}

ul, ol {
	margin: 0;
    padding: 0;
    list-style-type: none;
}
.logo-h .logo-f {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    line-height: 1.17;
    margin-right:76px ;
    margin-left: 156px;
}


.studio {
    color: #2e2f42;
}

.logo-h{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    line-height: 1.17;
padding: 24px 0;
margin-right: 76px;
}


.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    list-style-type: none;
    padding: 24px 0;
    display: block;
}

.navigator .link:hover,
.navigator .link:focus,
.navigator .link:active {
    color: #404bbf;
}


.adress {
    font-style: normal;
    margin-left: auto;
}
.one-punkt{
    display: block;
    padding: 24px 0;
}
.adress .link-one {
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.adress .link-one:hover,
.adress .link-one:focus {
    color: #404bbf;
}


.section-one {
    background-color: #2e2f42;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.zag-one{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}



.button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 48;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    height: 56px;
   
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }


.advantages,
.navigator,
.our-team,
.portfolio {
    list-style-type: none;
}



.advantages{
    

    display: flex;
   
    gap: 24px;
   
}
.p-adv{
    display: block;
    margin-top: 8px;
}


.li-two{
    width: calc((100% - 72px) / 4);
}

.our-advant {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: none;
}
.section-two{
    padding: 120px 0;
}
.zag-z{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.p-adv {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.zag-z{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.adv-div{
   
    margin-bottom: 8px;
    padding: 32px 0 ;
}
.team-list{
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-top: 72px;
    
}


.pic{
    display: block;
    border-radius: 0px 0px 4px 4px;
    align-items: center;
    text-align: center;
    
}

.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team {
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    
}

.pic{
    background-color: #FFFFFF;

}
.portfolio{
    padding-top: 120px; 
    padding-bottom: 120px;
}
.our-team > h2,
.portfolio > h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
}

.zag-tr{
margin-bottom: 8px;
}

.port-div{
    display: block;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list{
    column-gap: 24px;
    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
}
.our-team > h3,
.portfolio > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}


.our-team > p,
.portfolio > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}


.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.logo-f{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    line-height: 1.17;
    display: inline-block;
    margin-bottom: 16px;
    
}
.stud{
    color: #f4f4fd;
}